[
  {
    "name": "David Neal",
    "twitter": "@reverentgeek",
    "bio": "Title of super awesome talk",
    "image": "https://pbs.twimg.com/profile_images/1143266170495221761/GsCuWuGs_400x400.jpg",
    "twitterLink": "https://twitter.com/reverentgeek",
    "slug": "david_neal"
  }
]